.bar
    background-color: white
    box-shadow: 0 0 1px 1px $shadowColor1
    height: 64px
    position: absolute
    width: 100%
    z-index: 1

.bar.dark
    background-color: $darkBackground

.bar.bottom
    bottom: 0
